.todoLists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.addListItemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;

  .addListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.TodoList > div {
  padding: 10px;
}